
$white: #fff;
$black: #212121;

$neutral: $white;
$primary: $black;
$secondary: rgba(0, 116, 217, 0.87);
$inactive: gray;
$error: #ff4d4d;
$warn: #d5d500;
$success: #009852;

$primaryContrast: $neutral;
$secondaryContrast: $black;